BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
#AlignConsecutiveAssignments: Consecutive

Cpp11BracedListStyle: false
