[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad
[submodule "external/libspng"]
	path = external/libspng
	url = https://github.com/randy408/libspng.git
